html, body{
	font-size: 13px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	display:block;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
}
header{
	display: block;
	height: 52px;
	width: 70%;
	margin: auto;
        display:none;
}
#header_wrapper{
	width: 900px;
	margin: 0 auto;
}
hr{
	color: #ccc;
	background-color: #432;
	height: 1px;
	margin: 0;
	padding: 0;
	clear: both;

}
nav{
	display:block;
	}
		nav ul{
		display: block;
		list-style-type: disc;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 40px;
		list-style: none;
		float: left;
		padding: 10px 0px 0px 0px;
		}
			header nav ul li {
				float: left;
				margin-right: 8px;
				position: relative;
				}
				header nav ul a{

				}
.first{
	margin-right: 8px;
	position: relative;
	color: red;
}
li{
display: list-item;
text-align: -webkit-match-parent;
}
nav ul li.first a:hover{
	color: #00B0EA;
	font-weight: bold;

}
header ul li a{
	color: #888;
	font-size: 12px;
	text-decoration: none;
	margin-right: 8px;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
.divider{
	color: #aaa;
}
#page-wrapper{
	display: block;
	width: 70%;
	margin: auto;
}
	#elephant{
		display: block;
		width: 900px;
		height: 200px;
		background-color:#444444;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;

	}
	article{
		display: block;
		text-align: center;
		width: 900px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#wrapper{
		width: 900px;
		min-height: 600px;
		margin: 0 auto;

	}
	.lvl{
		float: left;
		width: 248px;
		border: 1px solid;
		border-radius: 7px;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: #000000;
		margin: 23px;
		position: relative;
		top: 0px;
		cursor: pointer;
	}

		.lvl-img{
			display: block;
			border-radius: 7px;
			width: 248px;
			height: 248px;
			background-color: #222222;
			margin: auto;
		}
			#intern{
				/*background-image: url("../gfx/nerdcap.jpg");*/
			}
		.lvl-info{
			display: block;
			width: 190px;
			padding: 5px;
			background-color: #000000;
			margin: auto;
			margin-top: 10px;
			margin-bottom: 10px;
		}
			.lvl-info p{
				font-size: 13px;
				line-height: 20px;
				color: #aaa;
			}
		#button{
			clear:both;
		}
		.button {
			margin-top: 25px;
			-moz-box-shadow:inset 0px 0px 0px -2px #ffffff;
			-webkit-box-shadow:inset 0px 0px 0px -2px #ffffff;
			box-shadow:inset 0px 0px 0px -2px #ffffff;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #757575) );
			background:-moz-linear-gradient( center top, #fafafa 5%, #757575 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#757575');
			background-color:#fafafa;
			-moz-border-radius:11px;
			-webkit-border-radius:11px;
			border-radius:11px;
			border:1px solid #050505;
			display:inline-block;
			color:#525052;
			font-family:Arial;
			font-size:17px;
			font-weight:bold;
			padding:7px 46px;
			text-decoration:none;
			text-shadow:1px 0px 4px #ffffff;
			}.button:hover {
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #757575), color-stop(1, #fafafa) );
				background:-moz-linear-gradient( center top, #757575 5%, #fafafa 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#fafafa');
				background-color:#757575;
			}.button:active {
				position:relative;
				top:1px;
			}
footer{
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0 auto;
}
footer p{
	text-align: center;
}
/*jQuerry classes */
.color_anim_1 {
    border-color: #d4d4d4;
    /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}
.color_anim_2{
	border-color: transparent;
	  /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

}










